<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@picocss/pico@2.0.6/css/pico.min.css"
    integrity="sha384-7P0NVe9LPDbUCAF+fH2R8Egwz1uqNH83Ns/bfJY0fN2XCDBMUI2S9gGzIOIRBKsA"
    crossorigin="anonymous"
    />
  <link
    rel="icon"
    type="image/x-icon"
    href="https://raw.githubusercontent.com/helsinki-python/logo/main/HelPy-200.png">
  </head>
  <body>
  <main class="container">
    <div align="center">
      <a href="/"><img
        src="https://raw.githubusercontent.com/helsinki-python/logo/main/HelPy.svg"
        alt="Helsinki Python logo"
        style="height: 5em"
      ></a>
      </div>
      {{ content }}
    </main>
  </body>
</html>
